{{yield}}

<div class="row {{filterStyle}}">
  {{#if searchFilters.length }}
    {{multisearch-filter
        searchObjectsIn=allTableDataList
        filters=searchFilters
        setFilteredObjects=(action "setFilteredObjects")
        setItemCounts=(action "setItemCounts")
        setQueryParams=(action "setQueryParams")
        user=user
      }}
  {{/if}}
</div>
<div id="{{if twoColSelectId twoColSelectId "twoColSelect"}}" class="two-col-select-wrapper noselect">

  <div class="content-left-side">
      <div class="content-table-label">
        {{#unless leftColumnTitleAttrs}}
          <label class="large-label">{{leftColumnTitle}}</label>
        {{else}}
          {{two-col-select-dynamic-title columnTitleAttrs=leftColumnTitleAttrs}}
        {{/unless}}
      </div>
      {{#unless hideCheckAllLeft}}
        {{two-col-select-check-all checkBoxVal=leftAllChecked tableData=filteredLeftTableData}}
      {{/unless}}
      {{#single-col-select-wrapper mouseDragData=leftMouseDragData}}
        <table class="table table-striped table-bordered table-hover two-column-select-container">
          {{#if (and columnAttributes columnAttributeHeaders)}}
            <thead class="header-holder">
              <td class="two-col-header-item-header">{{labelHeader}}</td>
                  {{#each columnAttributeHeaders as |columnAttributeHeader| }}
                    <td class="two-col-header-col-attribute-header">{{columnAttributeHeader}}</td>
                  {{/each }}
            </thead>
          {{/if}}
            <tbody>
                  {{two-col-table-body
                    data=filteredLeftTableData
                    side="left"
                    rowLabel=rowLabel
                    grouping=grouping
                    groupByColumn=groupByColumn
                    optionClass="leftColumnOption"
                    sortKey=sortKey
                    twoColSelectLabels=twoColSelectLabels
                    mouseDragData=leftMouseDragData
                    customData=customData
                    sideEmpty=leftSideEmpty
                    canAssignMore=canAssignMore
                    currentNumberAvailableToAssign=currentNumberAvailableToAssign
                    maxAssignableMsg=maxAssignableMsg
                    columnAttributes=columnAttributes
                  }}
            </tbody>
            <tfoot>
              <tr>
                <td class="py-1">
                  <div class="two-col-select-results">(Showing {{currentLeftColResults}} of {{totalLeftColResults}} Results)</div>
                </td>
              </tr>
            </tfoot>
        </table>
      {{/single-col-select-wrapper}}
  </div>


  <div class="">
    <button type="button" class="btn btn-default two-col-select-icon hidden-xs" {{action "move"}}><span class="fa fa-arrows-h fa-2x" aria-hidden="true"></span></button>

    <button type="button" class="btn btn-default two-col-select-icon-vertical hidden-sm hidden-md hidden-lg" {{action "move"}}><span class="fa fa-arrows-v fa-2x" aria-hidden="true"></span></button>
  </div>

  <div class="content-right-side">
      {{#if rightColumnTabData}}
      {{!-- @todo add the dynamic column here if need be, no use case for this yet so not burning time. --}}
      <ul class="nav nav-tabs content-right-side-nav" role="tablist">
        <li role="presentation"  class="active"><a href="#{{rightColumnTabData.idLabel}}_1" aria-controls="enroll" role="tab" data-toggle="tab">{{rightColumnTitle}}</a></li>
        <li role="presentation"><a href="#{{rightColumnTabData.idLabel}}_2" aria-controls="instructors" role="tab" data-toggle="tab">{{rightColumnTabData.label}}</a></li>
      </ul>
      {{else}}
        <div class="content-table-label">
          {{#unless rightColumnTitleAttrs}}
            <label class="large-label">{{rightColumnTitle}}</label>
          {{else}}
            {{two-col-select-dynamic-title columnTitleAttrs=rightColumnTitleAttrs}}
          {{/unless}}
        </div>
      {{/if}}
      {{#unless hideCheckAllRight}}
        {{two-col-select-check-all checkBoxVal=rightAllChecked tableData=filteredRightTableData}}
      {{/unless}}
      {{#single-col-select-wrapper mouseDragData=rightMouseDragData }}
       <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="{{rightColumnTabData.idLabel}}_1">
          <table class="table table-striped table-bordered table-hover two-column-select-container">
            {{#if (and columnAttributes columnAttributeHeaders)}}
              <thead class="header-holder">
                <td class="two-col-header-item-header">{{labelHeader}}</td>
                    {{#each columnAttributeHeaders as |columnAttributeHeader| }}
                      <td class="two-col-header-col-attribute-header">{{columnAttributeHeader}}</td>
                    {{/each }}
              </thead>
            {{/if}}
              <tbody>
                  {{#if twoDimensinal}}
                    {{two-col-body-two-dimensional
                      data=rightTableData
                      rowLabel=rowLabel
                      side="right"
                      sortKey=sortKey
                      twoColSelectLabels=twoColSelectLabels
                      mouseDragData=rightMouseDragData
                      customData=customData
                    }}

                  {{else}}
                    {{two-col-table-body
                      data=filteredRightTableData
                      rowLabel=rowLabel
                      grouping=grouping
                      groupByColumn=groupByColumn
                      side="right"
                      sortKey=sortKey
                      twoColSelectLabels=twoColSelectLabels
                      mouseDragData=rightMouseDragData
                      customData=customData
                      sideEmpty=rightSideEmpty
                      columnAttributes=columnAttributes
                    }}
                  {{/if}}
              </tbody>
              <tfoot>
                <tr>
                  <td class="py-1"><div class="two-col-select-results">(Showing {{currentRightColResults}} of {{totalRightColResults}} Results)</div></td>
                </tr>
              </tfoot>
          </table>
        </div>

        {{#if rightColumnTabData}}
          <div role="tabpanel" class="tab-pane" id="{{rightColumnTabData.idLabel}}_2">
            <table class="table table-striped table-bordered table-hover two-column-select-container">
              <tbody>
                <div class="scroll-box">
                  {{#each  (sort-by sortKey filtertedRightTableTabData) as |item index|}}
                    <tr>
                      {{two-col-select-static-cell item=item index=index}}
                    </tr>
                  {{/each}}
                  {{#if (eq filtertedRightTableTabData.length 0)}}
                    <div class="no-results">
                      No results
                    </div>
                  {{/if}}
                </div>
              </tbody>
              <tfoot>
                <div class="two-col-select-results py-1">(Showing {{filtertedRightTableTabData.length}} of {{rightColumnTabData.rightTabList.length}} Results)</div>
              </tfoot>
            </table>
          </div>
        {{/if}}
      </div>
      {{/single-col-select-wrapper}}
  </div>
</div>
