$button-font: 'Roboto', sans-serif;
$link-color: #728BBC;
$input-color: #989898;
$input-font-size: 1.1em;
$input-padding: 20px 15px 20px 15px;
$input-border-color: #D0D7DD;
$input-font: 'Roboto', sans-serif;
$horizontal-rule-color: #D0D7DD;

/**
 * Menu Variables
 */
$menu-home-icon: 'fa-home';
$menu-manage-users-icon: 'fa-users';
$menu-courses-content-icon: 'fa-th-list';
$menu-orders-cart-icon: 'fa-shopping-cart';
$menu-links-icon: 'fa-link';
$menu-logout-icon: 'fa-power-off';
$menu-icon-color: #FFFFFF;

$menu-light-blue: #2677B6;
$menu-dark-blue: #274F6F;
$menu-border-color: #95989A;
$menu-font: 'Ubuntu', sans-serif;
$menu-color: #FFFFFF;

/**
 * Header
 */

$training-center-number-color: #274F6F;
$training-management-system-color: #000000;

$page-title-icon-color: #FFFFFF;
$page-title-background-color: #2677B6;

$header-background-color: #EFEFEF;
$header-font: 'Ubuntu', sans-serif;
$header-color: #000000;

$active-tab-underline-color: #2677B6;

/**
 * User Data Grid Variables
 */
$row-header-background-color: #2677B6;
$row-header-font: 'Ubuntu', sans-serif;
$row-header-font-color: #FFFFFF;

$primary-row-background-color: #FFFFFF;
$secondary-row-background-color: #F9F9F9;

$edit-icon-color: #000000;

$table-icon-size: 1.5em;

$active-status-icon-color: #28A745;
$active-status-icon-size: $table-icon-size;

$table-dropdown-menu-line-height: 2.0;
$table-dropdown-menu-icon-margin: 0 10px 0 0;
